[submodule "Third-Party/Unity"]
	path = Third-Party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Third-Party/glfw"]
	path = Third-Party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Third-Party/glad"]
	path = Third-Party/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "C-Utilities"]
	path = C-Utilities
	url = https://gitlab.com/asidhu77/C-Utilities.git
